@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url(../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@theme {
    --color-primary-bg: #030712;
    --color-secondary-bg: #11131e;
    --color-border: #1d1f29;
    --color-primary-text: #fff;
    --color-secondary-text: #d1d5dc;
    --color-third-text: #98a1ae;
    --color-highlight-blue: #00bcff;
    --color-highlight-hotpink: hotpink;
    --color-border-hover: #ffffff50;

    --font-Inter: Inter;
}

* {
    font-family: var(--font-Inter);
}

body {
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
}

.container {
    padding: 0 12px;
}

@media (min-width: 640px) {
    .container {
        padding: 0 16px;
    }
}

.header_link.active {
    border-color: var(--color-highlight-blue);

}

.fly {
    position: relative;
}

.fly::before {
    animation: flyToTop .5s ease-in 0s 1;
    content: "+1";
    font-size: 14px;
    position: absolute;
    top: -100%;
    left: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-highlight-blue);
    border-radius: 4px;
}

@media (min-width:768px) {
    .fly::before {
        font-size: 16px;
        width: 32px;
        height: 32px;
    }
}


@keyframes flyToTop {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-280px);
    }
}